.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 100px
  }
  .sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    background: none;
    border: 10px solid #ccc;
    border-radius: 5px;
  }

.button {
    background-color: transparent !important;
    border: 2px solid #000 !important;
    color: #000;
    font-weight: bold;
  }
 